@import '../../styles/mixins';

.dropdown {
  height: 100%;
  align-self: center;
  position: relative;
}

.dropdown-menu {
  display: none;
  padding: 0.5em;
  position: absolute;
  box-shadow: 0px 3px 12px rgba(27, 31, 35, 0.15);
  background-color: white;
  border-top: 2px solid $blue;
  z-index: 100;
}

.dropdown-menu.isOpen {
  display: block;
}

.dropdown-trigger:hover {
  background-color: white;
  color: $dark-blue;
  transition: background-color 0.2s, color 0.2s;
}