$blue: #5aaafa;
$dark-blue: #3D70B2;
$red: #E71D32;
$browser-context: 16; // Default
$default-font-color: #152935;
$alert-group-fill: #EADAE1;
$event-group-fill: #D5DBE1;
$wrapper-bg: #EBF0F6;
$wrapper-font-color: #5A6872;
$grid-line-color: #8C9BA5;
$tooltip-color: white;
$tooltip-border-color: #DFE3E6;
// $tooltip-border-color: red;
$arrow-size: 10px;