@import './mixins';

.wrapper {
  position: absolute;
  top: 52px; // height of menu bar. + 2px border
  left: 0;
  width: 100vw;
  height: calc(100vh - 52px);
  z-index: -1;
}

.center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form, .form__input-group {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5em 0;

  & button[type=submit] {
    margin-top: 2em;  
  }
}

// TYPOGRAPHY 
strong {
  font-weight: 600;
}

.small {
  font-size: 11px;
}

.italic {
  font-style: italic;
}

.cursor {
  cursor: pointer;
}